<footer class="footer">
   <div class="footer-content">
 
     
    <div class="footer-section">
      <h4>Contact</h4>
      <div class="contact-info">
        <p><i class="icon">📧</i>viewzenlabs.com</p>
        <p><i class="icon">📱</i> +91 4424350993</p>
        <p>
          <i class="icon">📍</i>
          Door No 21 E,<br>
          A.R.K. Colony,<br>
          Eldams Road, Teynampet,<br>
          Chennai, Tamil Nadu - 600018
        </p>
      </div>
    </div>
    <div class="footer-section">
      <h4>Follow Us</h4>
      <div class="social-links">
        <a href="#" class="social-link">📘</a>
        <a href="#" class="social-link">🐦</a>
        <a href="#" class="social-link">📷</a>
        <a href="#" class="social-link">💼</a>
      </div>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>&copy; {{ currentYear }}  All rights reserved.</p>
    <!-- <p>Made with  by Yuvaraj</p> -->
  </div>
  
</footer>
