<!-- <app-header ></app-header> -->

<!-- <nav class="main-navigation">
  <div class="nav-links">
    <a routerLink="/dashboard-grid" routerLinkActive="active">Dashboard Grid</a>
    <a routerLink="/thumbnail-dashboard" routerLinkActive="active">Thumbnail Dashboard</a>
    <a routerLink="/mini-dashboard" routerLinkActive="active">Mini Dashboard</a>
    <a routerLink="/canvas-dashboard" routerLinkActive="active">Canvas Dashboard</a>
  </div>
</nav> -->

<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
