
 <div class="dashboard-charts">
  <div class="chart-container">
    <svg #svgChart></svg>
  </div>
  <div class="piechart-container">
    <svg #svgPie></svg>
  </div>
  <div class="donutchart-container">
    <svg #svgDonut></svg>
  </div>
  <div class="areachart-container">
    <svg #svgArea></svg>
  </div>
   
  <div class="linechart-container">
  
  <svg #svgLine></svg>
</div>
<div class="svg-cards-container">
  <svg #svgCards width="1000" height="300"></svg>
</div>
</div> 

<!-- <div class="svg-wrapper">
  <svg #svgChart></svg>
  <svg #svgPie></svg>
  <svg #svgDonut></svg>
  <svg #svgArea></svg>
  <svg #svgCard></svg>
  <svg #svgLine></svg>
  <svg #svgCards ></svg>

</div> -->








