

<div class="dashboard-charts">
  <div class="chart-container">
    <svg #svgChart></svg>
  </div>
  <div class="piechart-container">
    <svg #svgPie></svg>
  </div>
  <div class="donutchart-container">
    <svg #svgDonut></svg>
  </div>
  <div class="areachart-container">
    <svg #svgArea></svg>
  </div>
   
  <div class="linechart-container">
  <h3>Line Chart</h3>
  <svg #svgLine></svg>
</div>
<div class="svg-cards-container">
  <svg #svgCards width="1000" height="300"></svg>
</div>
</div>




